@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sofia&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/*PALETA DE COLOR*/

.color1 {color: #ff3e48;}
.color2 {color: #ff8f2a;}
.color3 {color: #ffe247;}
.color4 {color: #fffb8c;}
.color5 {color: #fffbd3;}


.banner {
    background-image: url(images/medicoyfamilia.jpg);
    width: 100%;
    height: 100vh;
    /*max-height: fit-content;*/
    /*height: 500px;*/

    background-position: center top;
    background-size:cover;
}

.banner-heading {
    margin-top: 300px;
}

.banner-btn {
    background-color: rgb(28, 56, 56) !important;
    border: none !important;
    transition: 0.5s;
    box-shadow: none !important;
}

.banner-btn:hover {
    background-color: rgb(36, 151, 151) !important;
    border: none !important;
}

.blog .blog-img {
    background-image: url(images/familiaFeliz.jpeg);
    width: 50%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.container a {
    color: black !important;
}

.container nav {
    color: black !important;

}

.banner h1 {
    color: rgb(26, 24, 28) !important;
}

.banner p {
    color: rgb(7, 5, 9) !important;
}

footer {
    text-align: center;
}